* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

main {
    width: 90%;
    margin: 20px auto;
}

hr.separador {
    margin: 15px 0px;
}

/* Layout */
body {
    display: flex;
    flex-flow: column;
    height: 100vh;
}
header {
    flex: 0 1 auto;
}
main {
    flex: 1 1 auto;
}
footer {
    flex: 0 1 auto;
}
/* FIN Layout */

/* NAVBAR */
nav {
    background-color: #023047;
}
.navbar-light .navbar-nav .nav-link.active {
    color: white;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffffffb9;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    transform: scale(1.1, 1.1);
}
/* FIN NAVBAR */

/* Footer */
footer {
    background-color: #023047;
}
.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footerContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerIconsDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.footerIcon {
    padding: 10px;
}
.linkFooter, .linkFooter:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
#iconFacebook {
    padding-left: 10px;
}
.linkSocialNetworkIcon, .linkSocialNetworkIcon:hover {
    padding: 0px 20px 0px 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
}
/* FIN Footer */

/* MEDIA 992px */
@media (max-width: 992px) {
    .nav-link:hover {
        transform: none;
    }
    #whatsappDiv {
        margin-top: 20px;
    }
}
/* FIN MEDIA 992px */

/* MEDIA 576px */
@media (max-width: 576px) {
    .footerIconsDiv {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}
/* FIN MEDIA 576px */