* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

main {
    width: 90%;
    margin: 20px auto;
}

hr.separador {
    margin: 15px 0px;
}

/* GRID */
body {
    display: flex;
    flex-flow: column;
    height: 100vh;
}
header {
    flex: 0 1 auto;
}
main {
    flex: 1 1 auto;
}
footer {
    flex: 0 1 auto;
}
/* FIN GRID */

/* NAVBAR */
nav {
    background-color: #023047;
}
.navbar-light .navbar-nav .nav-link.active {
    color: white;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffffffb9;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: white;
    transform: scale(1.1, 1.1);
}
/* FIN NAVBAR */

/* Footer */
footer {
    background-color: #023047;
}
.logoFooter {
    width: 30px;
}
.linkFooter, .linkFooter:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
/* FIN Footer */

/* MEDIA 992px */
@media (max-width: 992px) {
    .nav-link:hover {
        transform: none;
    }
}
/* FIN MEDIA 992px */