.sectionMediosContacto {
  display: flex;
  flex-direction: column;
  align-items: center; }

.tituloYEncabezado {
  text-align: center;
  margin-bottom: 10px; }

.celular {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; }
  .celular p {
    margin: 0px 0px 0px 10px; }

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; }
  .email p {
    margin: 0px 0px 0px 10px; }

.sectionFormContacto {
  display: flex;
  flex-direction: column;
  align-items: center; }

.encabezadoFormularioContacto {
  text-align: center; }

form.formularioContacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.bloqueNombre {
  display: flex;
  flex-direction: column; }

.bloqueEmail {
  display: flex;
  flex-direction: column;
  margin-top: 10px; }

.bloqueConsulta {
  display: flex;
  flex-direction: column; }

.botonEnviar {
  margin-top: 20px; }

@media (max-width: 768px) {
  .bloqueNombre {
    margin-top: 10px; }
  .bloqueConsulta {
    margin-top: 10px; }
  .newsletterDiv {
    margin-top: 10px; }
  .tipoConsultaDiv {
    margin-top: 20px; } }
