/* GRID */
main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "carousel"
        "descripcionGeneral"
        "catSection"
    ;
}
section.carousel {
    grid-area: carousel;
}
section.descripcionGeneral {
    grid-area: descripcionGeneral;
}
section.catSection {
    grid-area: catSection;
}
/* FIN GRID */

/* Carousel */
#carouselIndex .carousel-inner .carousel-item img {
    height: 600px; 
    object-fit: cover;
}
/* FIN Carousel */

/* Descripcion General */
.descripcionGeneral {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.descripcionGeneral h1 {
    text-align: center;
    margin-bottom: 10px;
}
.descripcionGeneral p {
    text-align: justify;
    font-size: 18px;
}
/* FIN Descripcion General */


/* Categorias */
.catSection div {
    margin: 30px 0px 30px 0px;
    display: flex;
    flex-direction: row;
}
.catSection div div.catImg img{
    width: 450px;
}
.catSection div div.catBody {
    display: block;
    padding: 10px 5% 10px 5%;
}
.catSection div div.catBody p.catTitle {
    margin-top: 8%;
    font-weight: 400;
    font-size: 50px;
}
.catSection div div.catBody p.catTitle a{
    text-decoration: none;
    color: black;
}
.catSection div div.catBody p.catDescription {
    font-weight: 400;
    font-size: 20px;
}
.catSection div.catCuadernos {
    flex-direction: row-reverse;
}
/* 
TODO: Encontrar una sombra que me guste 
.sombraCatCuadernos { 
    -webkit-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.5), 0 -10px 6px -6px rgba(119, 119, 119, 0.5);
    -moz-box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.5), 0 -10px 6px -6px rgba(119, 119, 119, 0.5);
    box-shadow: 0 10px 6px -6px rgba(119, 119, 119, 0.5), 0 -10px 6px -6px rgba(119, 119, 119, 0.5);
} 
*/
/* FIN Categorias */

/* MEDIA 800px */
@media (max-width: 800px) {

    /* Categorias */
    .catSection div {
        flex-direction: column;
        align-items: center;
    }
    .catSection div.catCuadernos {
        flex-direction: column;
        align-items: center;
    }
    .catSection div div.catBody p.catTitle {
        margin-top: 0px;
    }
    .catSection div div.catImg img{
        width: 450px;
    }
    .catSection div div.catImg{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    /* FIN Categorias */
}
/* FIN MEDIA 768px */

/* MEDIA 425px */
@media (max-width: 425px) {

    .carousel img{
        width: 100%;
        height: 270px;
        object-fit: cover;
    }
    /* FIN Carousel */

    /* Categorias */
    .catSection div {
        flex-direction: column;
        align-items: center;
    }
    .catSection div.catCuadernos {
        flex-direction: column;
        align-items: center;
    }
    .catSection div div.catBody p.catTitle {
        margin-top: 0px;
        font-size: 37px;
    }
    .catSection div div.catBody p.catDescription {
        font-size: 20px;
    }
    .catSection div div.catImg img{
        width: 270px;
    }
    .catSection div div.catImg{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    /* FIN Categorias */

}
/* FIN MEDIA 375px */