* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

/* Estilos Navbar */
.logoNavbar {
    width: 22px;
}

.mainNavbar {
    margin-bottom: 5px;
}

.mainNavbar ul {
    overflow: hidden;
    height: 100%;
    background-color: #8ECAE6;
    list-style-type: none;
}

.mainNavbar ul li {     
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 10px 15px 10px;
}

.mainNavbar .liLogo {
    padding: 10px 10px 15px 10px;
}

.mainNavbar ul li a {
    display: block;
    color: black;
    text-decoration: none;
}

.mainNavbar ul li a:hover {
    color: white;
}

.mainNavbar ul li:hover {
    background-color: #219ebc;
}

.mainNavbar ul li:hover:first-child{
    background-color: #8ECAE6;
}

/* Estilos Carousel */
.carousel {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel img{
    width: 80%;
    height: 600px;
    object-fit: cover;
    margin-left: 10px;
    margin-right: 10px;
}


/* Estilos Section Descripcion General */
.descripcionGeneral {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.descripcionGeneral h3 {
    text-align: center;
    margin-bottom: 10px;
}

.descripcionGeneral p {
    text-align: justify;
    padding: 0px 10% 0px 10%;
}


/* Estilos Section Cards */
.cardSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    background-color: white;
    width: 250px;
    border: 2px;
    border-style: solid;
    border-color: black;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.card:hover {
    border-color: gray;
}

.cardImg img{
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.cardBody h5{
    text-align: center;
    margin-bottom: 5px;
}

.cardBody h5 a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.cardBody p {
    text-align: justify;
    text-justify: inter-word;
    margin: 0px 6px 10px 6px;
}


/* Estilos Section Cards */
footer {
    margin-top: 15px;
    width: 100%;
    height: 40px;
    background-color: #8ECAE6;
}

footer ul li {
    display: inline-block;
}

.logoFooter {
    width: 25px;
    padding: 10px 0px 0px 10px;
}

footer p a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}