* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}
main {
    width: 90%;
    margin: 20px auto;
}

hr.separador {
    margin: 15px 0px;
}

/* GRID */
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
/* FIN GRID */

/* NAVBAR */
nav {
    background-color: #8ECAE6;
}
.navbar-light .navbar-nav .nav-link.active {
    font-weight: bold;
    color: black;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.nav-link:hover {
    font-weight: bold;
    color: black;
}
/* FIN NAVBAR */

/* Footer*/
footer {
    background-color: #8ECAE6;
}
.logoFooter {
    width: 30px;
}
.linkFooter, .linkFooter:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
/* FIN Footer */