* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

main {
    width: 90%;
    margin: 20px auto;
}

hr.separador {
    margin: 15px 0px;
}

/* GRID */
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
/* FIN GRID */

/* NAVBAR */
/* background-color: #8ECAE6; */
nav {
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-light .navbar-nav .nav-link.active {
    font-weight: bold;
    color: black;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.nav-link:hover {
    font-weight: bold;
    color: black;
    transform: scale(1.1, 1.1);
}
/* FIN NAVBAR */

/* Footer */
/* background-color: #8ECAE6; */
footer {
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.logoFooter {
    width: 30px;
}
.linkFooter, .linkFooter:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
/* FIN Footer */